body {
    margin: 0px;
    background-color: #ffffff;
    cursor: crosshair;
}

.container {
    display:flex;
    flex-wrap:wrap;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 4em;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: blue;
    margin-right: 1em;
    margin-left: 1em;
}

header h2 {
    position: absolute;
    top: .5em;
    right: .5em;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: blue;
    margin-right: 1em;
    margin-left: 1em;
}

.thumbnail {
    width: 30vw;
    height: auto;
    margin: 10px;
    opacity: .1;
    transition: opacity .5s ease;
}

.thumbnail:hover { 
    opacity: 1;
    /* transition-duration:0.2s; */
    cursor: crosshair;
}

a:hover{
    cursor: crosshair;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(242,241,241,.97);
    text-align: right;
  }

header {
    overflow: hidden;
    background-color:rgba(241,241,241,0);
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: left;
    z-index: 3;
}
  


/* SPOTLIGHT CODE */

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    /* color: #F1F1F1; */
    color:white;
    text-align:left;
    margin-right: 2vw;
    margin-left:-3vw;
    height: auto; 
    cursor: crosshair;
}

.spotlight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
  
.right {
    display:flex;
    height: 80vh;
    width: auto;
    margin: 20px;
}

.left{
    display:flex;
    height: 80vh;
    width: auto;
    margin: 5vw;
}

#bottom {
    align-self: last baseline; 
}

.fullscale{
    transition: all 5s;
    cursor: crosshair;
}

.fullscale:hover {
    opacity: 0%;
}

#v1 , #v2 , #v3 , #v4 , #v5 , #v6 , #v7 , #v8 , #v9 , #v10, #v11,
#v12 ,#v13 , #v14 , #v15 , #v16 , #v17 , #v18 , #v19 , #v20,
#v21 , #v22 , #v23 , #v24 , #v25 , #v26 , #v27 , #v28 , #v29 , #v30{
    transition: color 2s ease;
}

#v1:hover , #v2:hover, #v3:hover, #v4:hover, #v5:hover, #v6:hover, 
#v7:hover, #v8:hover, #v9:hover, #v10:hover, #v11:hover, #v12:hover, 
#v13:hover, #v14:hover, #v15:hover, #v16:hover, #v17:hover, #v18:hover, 
#v19:hover, #v20:hover, #v21:hover, #v22:hover, 
#v23:hover, #v24:hover, #v25:hover, #v26:hover, #v27:hover, #v28:hover, 
#v29:hover, #v30:hover{
    /* opacity: 0%; */
    color: blue;
    transition-duration:0.2s;
}

