html {
  font-family: monospace;
}

body {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 20vw;
}

header h1 {
  padding-left: 1em;
}

li {
  list-style: none;
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

main {
  right: 0;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  text-align: left;
  width: 80vw;
}

main p {
  font-size: 2em;
  padding-right: 5vw;
  padding-left: 5vw;
  color: black;
}

.vanish span {
  color: blue;
  transition: color 4s ease;
}

.vanish span:hover {
  color: white;
  transition-duration: 0s;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

footer h3 {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
