/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* END CSS RESET */

/*CHANGE HILIGHT STYLE*/
::selection {
  background-color: #d9ff41;
  color: rgba(0, 0, 0, 0);
}
/* -------------- */

/*CHANGE LINKS STYLE*/
a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

a:visited {
  color: rgb(207, 207, 207);
}

a:hover {
  color: #d9ff41;
}

a:active {
  color: #d9ff41;
}

/* -------------- */

/* FULL PAGE STYLING */
body {
  color: rgb(207, 207, 207);
  background-image: url(../images/forest.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
