/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* END CSS RESET */

/*CHANGE HILIGHT STYLE*/
::selection {
  background-color: #d9ff41;
  color: rgba(0, 0, 0, 0);
}
/* -------------- */

/* ANIMATION FOR BREATHING BACKGROUND */
@keyframes breathing-color--dark {
  from
  {
      background-color: rgb(120, 120, 120);
  }
  to
  {
      background-color: rgb(80, 80, 80);
  }
}

/* FULL PAGE STYLING */
body {
  color: rgb(207, 207, 207);
  background-color:rgb(120, 120, 120) ;
  animation: 3s infinite alternate ease-out breathing-color--dark;
}

.body-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER STYLING */
header {
  background-color: transparent;
  color: rgb(28,0,93);
  display: flex;
  flex-direction: column;
  justify-content: left;
}

header a {
  padding-left: 1em;
}

header hr {
  margin: 0;
  padding: 0;
}

/* MAIN CONTENT STYLING */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 0px;
}

.left-wrapper {
  padding: 1em 0.5em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: scroll;
  text-align: justify;
  height:100vh;
  color: rgb(28,0,93);
}

.right-wrapper {
  padding: 1em 1em 1em 0.5em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height:100vh;
  color: rgb(28,0,93);
}


.image-box img:hover {
  filter: grayscale(1);
  cursor: pointer;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  color: rgb(28, 0, 93); 
}


/* FOOTER STYLING */
footer {
  display: flex;
}


/* FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {
}



/* TESTZONE */

 /* Hide scrollbar for Chrome, Safari and Opera */
.left-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.right-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
