/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  cursor: crosshair;
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* END CSS RESET */

/*CHANGE HILIGHT STYLE*/
::selection {
  background-color: #d9ff41;
  color: rgba(0, 0, 0, 0);
}
/* -------------- */

/*CHANGE LINKS STYLE*/
a {
  text-decoration: none;
  color: rgb(207, 207, 207);

  &:visited {
    color: rgb(207, 207, 207);
  }

  &:hover {
    color: #d9ff41;
  }

  &:active {
    color: #d9ff41;
  }
}

/* -------------- */

/* ANIMATION FOR BREATHING BACKGROUND */
@keyframes breathing-color--dark {
  from
  {
      background-color: rgb(120, 120, 120);
  }
  to
  {
      background-color: rgb(80, 80, 80);
  }
}

/* FULL PAGE STYLING */
body {
  color: rgb(207, 207, 207);
  background-color:rgb(120, 120, 120) ;
  animation: 3s infinite alternate ease-out breathing-color--dark;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 40vh;
  left: 17vw;
}

nav ul{
  list-style: none;
  padding-left: 0;
  font-size: 1.3vw;
  text-align: right;
  background-color: rgb(28, 0, 93);
}

.body-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER STYLING */
header {
  display: flex;
}

/* MAIN CONTENT STYLING */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 0px;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: clip;
  text-align: justify;
  height:100vh;
}

.left-wrapper p span {
  color: rgb(120, 120, 120) ;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height:100vh;
  /* align-items: center;
  justify-content: center; */
}

.right-wrapper p {
  font-size: 1.3vw;
  text-align: justify;
}

.right-wrapper p span {
  background-color: rgb(28, 0, 93);
}

.image-text img {
  transition: all 4s ease;
}

.image-text img:hover {
  transition-duration: 7s;
  filter: grayscale(1) contrast(3) brightness(0.2);
}


/* FOOTER STYLING */
footer {
  display: flex;
}

/* CUSTOM FX CLASSES */
.left-wrapper p .vanish span {
  color: rgba(0, 0, 0, 0);
  opacity: 0%;
  transition: all .4s ease;
}

.left-wrapper p .vanish span:hover {
  color: rgba(0, 0, 0, 0);
  /* background-color: rgb(0, 0, 0); */
  opacity: 100%;
  transition-duration: 0s;
}

/* FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }

  .right-wrapper p {
    font-size: 3vw;
  }

  nav {

    left: 33vw;
  }

  nav ul{
    font-size: 3vw;
  }

}



/* TESTZONE */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(58, 58, 58);
  opacity: 1;
  transition: opacity 10s;
  z-index: 1001;
}

